@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
}

p,
label {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  line-height: 3.5rem;
  letter-spacing: 0.125rem;
  font-family: 'Alkatra', cursive;
}

svg {
  vertical-align: middle;
}

span {
  color: #ffd071;
}

#root {
  width: 100%;
  min-height: 100vh;
  padding: 2rem 0;
}

.file-input-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

label {
  border: 3px #ffd071 solid;
  border-radius: 8px;
  padding: 0 24px;
  cursor: pointer;
}

input {
  display: none;
}
