* {
  margin: 0;
  box-sizing: border-box;
}

p {
  color: #fff;
  font-size: 24px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Comic Mono', cursive;
}

svg {
  vertical-align: middle;
}

#root {
  padding-bottom: 32px;
  background-color: #242424;
}
